.cartao {
  width: 100%;
  max-width: 600px;
  height: 400px;
  perspective: 1000px;
  margin: 100px auto;
  position: relative;
}

.frente {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

.frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frente h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.dentro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.dentro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
}

.cartao:hover .frente {
  opacity: 0;
}

.cartao:hover .dentro {
  opacity: 1;
}

/* Regras para telas menores */
@media (max-width: 768px) {
  .cartao {
    height: 300px;
  }
  .frente h2 {
    font-size: 1.5em;
  }
  .conteudo {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .cartao {
    height: 200px;
  }
  .frente h2 {
    font-size: 1.2em;
  }
  .conteudo {
    font-size: 1em;
  }
}

